body {
  overflow: hidden;
}
.chatMessage {
  //background: red;
  padding: 10px;
  padding-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 3px;
}
.upperLine {
  font-size: 10px;
  text-align: right;
}
.message {
  font-size: 13px;
}

/* @TODO FIND COLOR PALETTE */

.chatMessage.pull-left {}
.chatMessage.pull-right {}
.messages {
  overflow: scroll;
  position: absolute;
  bottom: 110px;
  top: 49px;
  padding-top: 20px;
}
.chat-page-form {
  position: absolute;
  bottom: 5px;
  padding-left: 0px;
}
#messageAlert {
  display: none;
  position: absolute;
  bottom: 120px;
  left: 50%;
  margin-left: -110px;
}
.chat-message-container-label {
  text-align: center;
  padding: 2px;
  margin: 5px;
  background: #919191;
  color: #fff;
}
.affix {
    top:75px;
    position:fixed;
}
.pull-right {
  background: #53DF83;
}
